@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*:hover {
  text-decoration: none !important;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #e8ece6 !important;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow-x: hidden;
}

.white {
  color: #e8ece6;
}

.black {
  color: black;
}

.cyan {
  color: #0c6b66;
}

.lightcyan {
  color: darkcyan;
}

.orange {
  color: #e47712;
}

.aqua {
  color: aquamarine;
}

.font-1 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.font-2 {
  font-family: Nimbus Roman No9 L, serif;
}

.font-nav {
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  border: solid 2px black;
  padding: 8px 20px !important;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button:hover {
  border: solid 2px white;
  color: white;
  background: rgba(255, 255, 255, 0.2);
}

.button.cyan {
  border-color: black;
  color: black;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button.cyan:hover {
  color: white !important;
  background: -webkit-linear-gradient(45deg, #659999 30%, #f4791f 100%);
}

.text-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
}

.seperate-line {
  width: 100%;
}

.seperate-line span {
  display: inline;
}

.seperate-line span hr {
  width: 25%;
  height: 4px !important;
  color: #e8ece6;
  opacity: 1;
}

.navbar {
  background-color: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media only screen and (max-width: 768px) {
  .navbar.mobile-nav-expand {
    background: rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}

.navbar .logo {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.navbar .logo img {
  width: 50px;
}

.navbar ul .nav-item {
  width: 150px;
  margin: 5px 0;
}

.navbar ul .nav-item a.nav-link {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-align: center;
  padding: 0 1rem;
}

.navbar ul .nav-item a.nav-link.resume {
  color: black;
  border: solid 2px black;
  padding: 8px 20px !important;
}

.navbar ul .nav-item a.nav-link:hover {
  color: black;
}

.navbar ul .nav-item a.nav-link.active {
  color: #0c6b66 !important;
  font-weight: 600;
}

.navbar.fixed-top.scrolled {
  background-color: black;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar.fixed-top.scrolled .resume:hover {
  color: white !important;
}

.navbar .navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.slider {
  background-size: cover;
}

@media only screen and (max-width: 480px) {
  .slider {
    height: 100%;
  }
}

.slider .slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: visible;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.slider .slider-container p {
  font-size: 0.9rem;
}

.slider .slider-container .intro {
  margin-top: 1.5rem;
}

.slider .slider-container .intro h1 {
  font-size: 4rem;
  font-weight: 600;
  background: -webkit-linear-gradient(45deg, #659999 40%, #f4791f 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 1200px) {
  .slider .slider-container .intro h1 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 480px) {
  .slider .slider-container .intro h1 {
    font-size: 2rem;
  }
}

.slider .slider-container .ani-container {
  overflow: visible;
}

.slider .slider-container .svg-ani {
  overflow: visible;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  top: -250px;
  margin: 2.5rem 0 -32.5rem 0;
}

@media only screen and (max-width: 1200px) {
  .slider .slider-container .svg-ani {
    top: -220px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) {
  .slider .slider-container .svg-ani {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    top: -160px;
    margin-bottom: -20rem;
  }
}

@media only screen and (max-width: 768px) {
  .slider .slider-container .svg-ani {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    top: -110px;
    margin-bottom: -11rem;
  }
}

@media only screen and (max-width: 480px) {
  .slider .slider-container .svg-ani {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    top: 30px;
    margin: 0 0 20px 0;
  }
}

.slider .logo img {
  width: 6vw;
}

@media only screen and (max-width: 480px) {
  .slider .logo img {
    width: 18vw !important;
    margin-bottom: -50px;
  }
}

.quote-1 {
  padding-bottom: 50px;
  margin-top: 30px;
}

@media only screen and (max-width: 1200px) {
  .quote-1 {
    padding-top: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .quote-1 {
    margin-top: 0px;
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 480px) {
  .quote-1 {
    margin-top: 0px;
    padding-bottom: 40px;
  }
}

.quote-1 h2 {
  font-weight: 600;
  font-size: 2.5rem;
}

@media only screen and (max-width: 480px) {
  .quote-1 h2 {
    font-size: 1.5rem;
  }
}

.quote-1 p {
  font-size: 1.2rem;
}

@media only screen and (max-width: 480px) {
  .quote-1 p {
    font-size: 1rem;
  }
}

.highlight {
  padding: 40px 0 60px 0;
  background: -webkit-linear-gradient(0deg, #659999, #f4791f);
}

.highlight .slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.highlight .slider-container .text-container h2.text-break {
  white-space: nowrap;
}

.highlight .slider-container .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  min-width: 800px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #e8ece6;
  border-radius: 15px;
  padding: 50px;
  margin-right: 25px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.highlight .slider-container .item .award-winning {
  width: 250px;
  height: 50px;
  background: #e3852d;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.highlight .slider-container .item .award-winning h6 {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 1.2rem;
}

.highlight .slider-container .item#item-4 {
  margin-right: 0px !important;
}

@media only screen and (max-width: 768px) {
  .highlight .slider-container .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px;
    min-width: 300px;
    padding: 20px;
  }
}

.highlight .slider-container .item .highlight-img-div {
  width: 250px;
  min-width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 10px solid #0c6b66;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
  background-position: center !important;
  background-size: cover !important;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media only screen and (max-width: 768px) {
  .highlight .slider-container .item .highlight-img-div {
    height: 200px;
    width: 200px;
    min-width: 200px;
  }
}

.highlight .slider-container .item .highlight-img-div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.highlight .slider-container .item .highlight-img-div .hover-icon-bg {
  background: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.highlight .slider-container .item .highlight-img-div .hover-icon {
  z-index: 999;
  opacity: 0;
  margin-bottom: -20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.highlight .slider-container .item .highlight-img-div .hover-icon img {
  width: 2.2rem !important;
  height: 2.2rem !important;
  -o-object-fit: contain !important;
     object-fit: contain !important;
  -webkit-filter: brightness(0) invert(0.95);
          filter: brightness(0) invert(0.95);
}

.highlight .slider-container .item .highlight-img-div:hover .hover-icon-bg {
  background: rgba(0, 0, 0, 0.5);
}

.highlight .slider-container .item .highlight-img-div:hover .hover-icon {
  opacity: 1;
  margin-bottom: 0;
}

.highlight .slider-container .item:hover {
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
}

.highlight .slider-container .item:hover .highlight-img-div {
  -webkit-transform: scale(1.05) !important;
          transform: scale(1.05) !important;
}

.highlight .slider-container .horizontal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media only screen and (max-width: 480px) {
  .highlight .slider-container .horizontal-container {
    padding: 0 0.75rem;
  }
}

.highlight .slider-container .horizontal-container.active {
  cursor: -webkit-grab;
  cursor: grab;
}

.highlight .slider-container .horizontal-container.active .item {
  -webkit-transform: scale(0.95) !important;
          transform: scale(0.95) !important;
}

.highlight .slider-container .item .item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 250px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 2.5rem;
}

@media only screen and (max-width: 768px) {
  .highlight .slider-container .item .item-inner {
    margin-left: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .highlight .slider-container .item .item-inner {
    margin-left: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 20px;
  }
}

.highlight .slider-container .item .item-inner h3 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

@media only screen and (max-width: 768px) {
  .highlight .slider-container .item .item-inner h3 {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
}

.highlight .slider-container .item .item-inner .role-tools {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

@media only screen and (max-width: 768px) {
  .highlight .slider-container .item .item-inner .role-tools {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
  }
}

.highlight .slider-container .item .item-inner p.description {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  text-align: justify;
  font-size: 0.9rem;
}

.highlight .slider-container .item .item-inner p.description.sotm {
  font-weight: 500;
  color: #e3852d;
  font-style: italic;
}

@media only screen and (max-width: 768px) {
  .highlight .slider-container .item .item-inner p.description {
    text-align: left;
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}

.highlight .slider-container .item .item-inner .read-more {
  font-size: 0.8rem;
  padding: 6px 18px !important;
}

section.introducing {
  padding-top: 120px;
}

section.introducing h2 {
  font-size: 60px;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  section.introducing h2 {
    padding-bottom: 12px;
  }
}

@media only screen and (max-width: 480px) {
  section.introducing h2 {
    text-align: center;
    padding-bottom: 0px;
  }
}

section.about-me {
  background-color: #e8ece6;
  padding: 0 0 80px 0;
}

section.about-me .parallax {
  position: relative;
}

section.about-me .parallax img {
  width: 300px;
  height: 400px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 768px) {
  section.about-me .parallax img {
    position: relative;
    width: 100%;
  }
}

section.about-me .parallax .layer-1 img {
  top: 0px;
  right: 20px;
}

@media only screen and (max-width: 768px) {
  section.about-me .parallax .layer-1 img {
    display: none;
  }
}

section.about-me .parallax .layer-2 img {
  top: 100px;
  left: 0px;
}

@media only screen and (max-width: 768px) {
  section.about-me .parallax .layer-2 img {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  section.about-me .parallax .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  section.about-me .parallax .mobile {
    display: block;
  }
}

section.about-me .parallax .mobile img {
  display: none;
}

@media only screen and (max-width: 768px) {
  section.about-me .parallax .mobile img {
    display: block;
    width: 49%;
  }
}

@media only screen and (max-width: 480px) {
  section.about-me .parallax .mobile img {
    display: block;
    width: 100%;
  }
}

section.about-me .parallax .mobile img.ipad {
  display: none;
}

@media only screen and (max-width: 768px) {
  section.about-me .parallax .mobile img.ipad {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  section.about-me .parallax .mobile img.ipad {
    display: none;
  }
}

section.about-me .parallax .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 768px) {
  section.about-me .container .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 768px) {
  section.about-me .row.description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.experience {
  background: #e8ece6;
  padding: 60px 0;
}

.experience h2.display-1 {
  font-size: 60px;
  font-weight: 600;
}

.experience .vertical-line {
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  width: 1px;
  height: 100%;
  margin: 0 auto;
  margin-right: 33px;
}

.experience .exp {
  margin-top: 20px;
}

.experience .exp .col-sm-3 {
  margin-right: -40px;
}

.experience .exp p {
  font-size: 0.9rem;
}

.experience .exp h5,
.experience .exp p {
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.experience .exp:before {
  content: "";
  width: 35px;
  height: 1px;
  margin-left: -45px;
  margin-top: 12px;
  background: rgba(0, 0, 0, 0.3);
}

.experience .exp:hover h5,
.experience .exp:hover p {
  color: rgba(0, 0, 0, 0.4);
}

.experience .exp:hover:before {
  background: rgba(0, 0, 0, 0.4);
}

.experience .exp.active h5,
.experience .exp.active p {
  color: black;
}

.experience .exp.active:before {
  background: black;
}

.experience .exp-desc {
  position: relative;
}

.experience .exp-desc .exp-desc-inner {
  width: 100%;
  background: -webkit-linear-gradient(0deg, #659999 0%, #f4791f 150%);
  overflow: hidden;
  position: absolute;
  opacity: 0;
  border-radius: 12px;
  padding: 2.5rem;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.experience .exp-desc .exp-desc-inner p {
  width: 100%;
  opacity: 0.85;
}

.experience .exp-desc .exp-desc-inner ul {
  padding-left: 2rem;
}

.experience .exp-desc .exp-desc-inner h5 {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}

.experience .exp-desc .exp-desc-inner .img-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.experience .exp-desc .exp-desc-inner img {
  width: 100%;
  height: 220px;
  position: relative;
}

.experience .exp-desc .exp-desc-inner.active {
  -webkit-animation: fadeIn 0.6s ease;
          animation: fadeIn 0.6s ease;
  opacity: 1;
  left: 0;
}

.experience .exp-desc .exp-desc-inner.active img {
  -webkit-animation: zoomIn 0.6s ease-out;
          animation: zoomIn 0.6s ease-out;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    left: 20px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    left: 20px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@-webkit-keyframes zoomIn {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media only screen and (max-width: 768px) {
  .experience .exp-desc.desktop {
    display: none;
  }
}

.experience .exp-desc.mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .experience .exp-desc.mobile {
    display: block;
    width: 120%;
  }
}

@media only screen and (max-width: 768px) and (max-width: 480px) {
  .experience .exp-desc.mobile {
    width: 105%;
  }
}

@media only screen and (max-width: 768px) {
  .experience .exp-desc.mobile .exp-desc-inner {
    display: none;
    position: relative;
    padding: 25px 15px;
  }
  .experience .exp-desc.mobile .exp-desc-inner.active {
    display: block;
  }
  .experience .exp-desc.mobile .exp-desc-inner h5,
  .experience .exp-desc.mobile .exp-desc-inner p {
    color: #e8ece6 !important;
  }
}

section.more {
  background-color: #e8ece6;
  padding: 80px 0 40px;
}

@media only screen and (max-width: 768px) {
  section.more {
    padding: 80px 0 0 0;
  }
}

section.more .row {
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 480px) {
  section.more .row {
    margin-bottom: 0;
  }
}

section.more .col-md-4 .more-single {
  height: 300px;
  overflow: hidden !important;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
}

section.more .col-md-4 .more-single .more-bg {
  background: rgba(0, 0, 0, 0.7);
  z-index: 20;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

section.more .col-md-4 .more-single img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

section.more .col-md-4 .more-single .description {
  z-index: 30;
  height: inherit;
}

section.more .col-md-4 .more-single .description h3 {
  top: 0;
  right: 15px;
  font-weight: 700;
  opacity: 0.1;
  font-size: 7rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

section.more .col-md-4 .more-single .description h4 {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

section.more .col-md-4 .more-single .description p {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.7);
}

section.more .col-md-4 .more-single .description span {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.4);
  margin-right: 10px;
}

section.more .col-md-4 .more-single.active .more-bg {
  background: rgba(0, 0, 0, 0.5);
}

section.more .col-md-4 .more-single.active img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

section.more .col-md-4 .more-single.active h4 {
  color: white;
}

section.more .col-md-4 .more-single.active h3 {
  opacity: 0.8;
}

section.contact {
  padding: 40px 0 100px 0;
}

@media only screen and (max-width: 768px) {
  section.contact {
    padding: 0 0 100px 0;
  }
}

section.contact .cat-ani {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

@media only screen and (max-width: 768px) {
  section.contact .cat-ani {
    margin-top: -30px;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@media only screen and (max-width: 480px) {
  section.contact .cat-ani {
    margin-top: 0px;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

section.contact h2.display-1 {
  font-size: 60px;
  font-weight: 600;
  text-align: right;
  background: -webkit-linear-gradient(45deg, #659999 60%, #f4791f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 768px) {
  section.contact h2.display-1 {
    font-size: 52px;
    text-align: center;
  }
}

section.contact p.description {
  text-align: right;
}

@media only screen and (max-width: 768px) {
  section.contact p.description {
    text-align: center;
  }
}

section.contact a.button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media only screen and (max-width: 768px) {
  section.contact a.button {
    margin: 0 auto;
  }
}

section.contact p.credit {
  bottom: 10px;
  font-size: 0.8rem;
}

section.contact .social-media-icon {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 50%;
}

@media only screen and (max-width: 768px) {
  section.contact .social-media-icon {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 10px 1rem;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 480px) {
  section.contact .social-media-icon {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 5px 0;
    margin: 0 auto;
    width: 80%;
  }
}

section.contact .social-media-icon a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

section.contact .social-media-icon a:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

section.contact .social-media-icon img {
  width: 20px;
  height: 20px;
}

section.copyright {
  background: #dee2dc;
}

section.copyright p {
  font-size: 0.8rem;
}

section.copyright .name {
  background: -webkit-linear-gradient(45deg, #659999 30%, #f4791f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*# sourceMappingURL=style.css.map */